.credits {
    z-index: 10;

    position: relative;
    top: 60%;
    height: 23%;
    width: 100%;
    margin: 0 auto;

    align-items: center;

    background-color: #070813a6;
    border-radius: 15px;

    transition: 0.5s ease-out;

    box-shadow: 5px 5px 10px #000000;
}
.credits p {
    z-index: 9;
    text-align: center;

    color: #9e9cff1a;
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight: bold;

    position: inherit;
    top: 10%;

    transition: 0.3s ease-out;
}
.credB {
    position: relative;
    display: flex;
    flex-direction: column;

    top: 10%;
}
.credB a {
    margin: 0 auto;
}
.credB button {
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: #9d9cff;

    margin: 2px 0;

    background-color: #00000000;
    border: solid #00000000 3px;
    border-radius: 10px;
}
.credB button:hover {
    color: #5f5cff;

    cursor: pointer;
}