.dev {
    z-index: 10;

    position: relative;
    top: 30%;
    height: 75%;
    width: 79%;
    margin: 0 auto;

    align-items: center;

    background-color: #070813;

    border-radius: 15px;
    border: solid 2px;
    border-left-color: #9d9cff;
    border-right-color: #9d9cff;

    transition: 0.5s ease-out;
}
.dev img {
    position: absolute;
    width: 130px;

    top: 65%;
    right: 22%;
}
.dev h1 {
    z-index: 9;
    text-align: center;

    color: #9e9cff1c;
    font-family: 'Segoe UI';
    font-size: 30px;

    position: inherit;
    top: -2%;

    transition: 0.3s ease-out;
}
.dev-cs {
    z-index: 9;
    text-align: left;

    position: absolute;
    top: 20%;
    left: 4%;

    height: 172px;
    width: 470px;

    border-radius: 15px;
    border: solid #00000000;
    background-color: #020307;
    transition: 0.3s ease-out;
}
.dev-cs p {
    position: relative;
    
    color: #9e9cff63;
    font-family: 'Segoe UI';
    font-size: 30px;

    left: 36%;
    top: 9%;
}
.dev-cs img {
    z-index: 10;
    position: absolute;
    top: 13%;
    left: 5%;
    width: 120px;

    border: solid 4px;
    border-radius: 15px;
    border-color: #e059d5;

    transition: 0.1s ease-out;
}
.dev-cs:hover {
    border-color: #e059d5;
}



.dev-py {
    z-index: 9;
    text-align: left;

    position: absolute;
    top: 20%;
    right: 4%;

    height: 172px;
    width: 470px;

    border-radius: 15px;
    border: solid #00000000;
    background-color: #020307;
    transition: 0.3s ease-out;
}
.dev-py p {
    position: relative;
    
    color: #9e9cff63;
    font-family: 'Segoe UI';
    font-size: 30px;

    left: 36%;
    top: 9%;
}
.dev-py img {
    z-index: 10;
    position: absolute;
    top: 13%;
    left: 5%;
    width: 120px;

    border: solid 4px;
    border-radius: 15px;
    border-top-color: #82d1ff;
    border-left-color: #82d1ff;
    border-right-color: #f7f42f;
    border-bottom-color: #f7f42f;

    transition: 0.1s ease-out;
}
.dev-py:hover {
    border-top-color: #82d1ff;
    border-left-color: #82d1ff;
    border-right-color: #f7f42f;
    border-bottom-color: #f7f42f;
}



.dev-js {
    z-index: 9;
    text-align: left;

    position: absolute;
    top: 60%;
    left: 4%;

    height: 172px;
    width: 470px;

    border-radius: 15px;
    border: solid #00000000;
    background-color: #020307;
    transition: 0.3s ease-out;
}
.dev-js p {
    position: relative;
    
    color: #9e9cff63;
    font-family: 'Segoe UI';
    font-size: 30px;

    left: 36%;
    top: 9%;
}
.dev-js img {
    z-index: 10;
    position: absolute;
    top: 13%;
    left: 5%;
    width: 120px;

    border: solid 4px;
    border-radius: 15px;
    border-color: #fcdc28;

    transition: 0.1s ease-out;
}
.dev-js:hover {
    border-color: #fcdc28;
}



@media screen and (max-width: 670px) {
    #vsu img {
        width: 50px;
    }
    #vsc img {
        width: 50px;
    }
    .dev-cs img {
        top: -24%;
        left: 2%;

        width: 80px;

        border-color: #00000000;

        filter: grayscale(50%);
        opacity: 30%;
    }
    .dev-py img {
        top: -24%;
        left: 2%;

        width: 80px;

        border-color: #00000000;

        filter: grayscale(50%);
        opacity: 30%;
    }
    .dev-js img {
        top: -24%;
        left: 2%;

        width: 80px;

        border-color: #00000000;

        filter: grayscale(50%);
        opacity: 30%;
    }
}
@media screen and (max-width: 1280px) {
    .dev {
        height: 600px;
        width: 85%;
    }
    #vsu img {
        position: absolute;
        left: 5%;
        top: -11%;

        border: solid #00000000 2px;
        border-radius: 10px;
        border-bottom-color: #9d9cff;
    }
    #vsc img {
        position: absolute;
        left: 5%;
        top: -11%;

        border: solid #00000000 2px;
        border-radius: 10px;
        border-bottom-color: #9d9cff;
    }


    .dev-cs {
        text-align: center;

        top: 16%;
        height: 130px;
        width: 92%;
    }
    .dev-cs img {
        width: 67px;
        left: 2%;
    }
    .dev-cs p {
        font-size: 25px;
        left: 0%;
        top: 10%;
    }


    .dev-py {
        text-align: center;

        top: 44%;
        left: 4%;
        height: 130px;
        width: 92%;
    }
    .dev-py img {
        width: 67px;
        left: 2%;
    }
    .dev-py p {
        font-size: 25px;
        left: 0%;
        top: 10%;
    }


    .dev-js {
        text-align: center;

        top: 72%;
        left: 4%;
        height: 130px;
        width: 92%;
    }
    .dev-js img {
        width: 67px;
        left: 2%;
    }
    .dev-js p {
        font-size: 25px;
        left: 0%;
        top: 10%;
    }
}



.dev-f {
    z-index: 10;

    position: relative;
    top: 47%;
    height: 75%;
    width: 79%;
    margin: 0 auto;

    align-items: center;

    background-color: #070813;

    border-radius: 15px;
    border: solid 2px;
    border-left-color: #9d9cff;
    border-right-color: #9d9cff;

    transition: 0.5s ease-out;
}
.dev-f h1 {
    z-index: 9;
    text-align: center;

    color: #9e9cff1c;
    font-family: 'Segoe UI';
    font-size: 30px;

    position: inherit;
    top: -2%;

    transition: 0.3s ease-out;
}
.dev-f img {
    position: absolute;
    width: 130px;

    top: 65%;
    right: 22%;
}
.dev-ht {
    z-index: 9;
    text-align: left;

    position: absolute;
    top: 21%;
    left: 4%;

    height: 172px;
    width: 470px;

    border-radius: 15px;
    border: solid #00000000;
    background-color: #020307;
    transition: 0.3s ease-out;
}
.dev-ht p {
    position: relative;
    
    color: #9e9cff63;
    font-family: 'Segoe UI';
    font-size: 30px;

    left: 36%;
    top: 9%;
}
.dev-ht img {
    z-index: 10;
    position: absolute;
    top: 13%;
    left: 5%;
    width: 120px;

    border: solid 4px;
    border-radius: 15px;
    border-color: #ff4415;

    transition: 0.1s ease-out;
}
.dev-ht:hover {
    border-color: #ff4415;
}



.dev-css {
    z-index: 9;
    text-align: left;

    position: absolute;
    top: 21%;
    right: 4%;

    height: 172px;
    width: 470px;

    border-radius: 15px;
    border: solid #00000000;
    background-color: #020307;
    transition: 0.3s ease-out;
}
.dev-css p {
    position: relative;
    
    color: #9e9cff63;
    font-family: 'Segoe UI';
    font-size: 30px;

    left: 36%;
    top: 9%;
}
.dev-css img {
    z-index: 10;
    position: absolute;
    top: 13%;
    left: 5%;
    width: 120px;

    border: solid 4px;
    border-radius: 15px;
    border-color: #1c99ff;

    transition: 0.1s ease-out;
}
.dev-css:hover {
    border-color: #1c99ff;
}
.dev-react {
    z-index: 9;
    text-align: left;

    position: absolute;
    top: 61%;
    left: 4%;

    height: 172px;
    width: 470px;

    border-radius: 15px;
    border: solid #00000000;
    background-color: #020307;
    transition: 0.3s ease-out;
}
.dev-react p {
    position: relative;
    
    color: #9e9cff63;
    font-family: 'Segoe UI';
    font-size: 30px;

    left: 36%;
    top: 9%;
}
.dev-react img {
    z-index: 10;
    position: absolute;
    top: 13%;
    left: 5%;
    width: 120px;

    border: solid 4px;
    border-radius: 15px;
    border-color: #39d7ff;

    transition: 0.1s ease-out;
}
.dev-react:hover {
    border-color: #39d7ff;
}



@media screen and (max-width: 670px) {
    .dev-ht img {
        top: -24%;
        left: 2%;

        width: 80px;

        border-color: #00000000;

        filter: grayscale(50%);
        opacity: 30%;
    }
    .dev-css img {
        top: -24%;
        left: 2%;

        width: 60px;

        border-color: #00000000;

        filter: grayscale(50%);
        opacity: 30%;
    }
    .dev-react img {
        top: -24%;
        left: 2%;

        width: 80px;

        border-color: #00000000;

        filter: grayscale(50%);
        opacity: 30%;
    }
}
@media screen and (max-width: 1280px) {
    .dev-f {
        height: 600px;
        width: 85%;
    }


    .dev-ht {
        text-align: center;

        top: 16%;
        height: 130px;
        width: 92%;
    }
    .dev-ht img {
        width: 67px;
        left: 2%;
    }
    .dev-ht p {
        font-size: 25px;
        left: 0%;
        top: 10%;
    }


    .dev-css {
        text-align: center;

        top: 44%;
        left: 4%;
        height: 130px;
        width: 92%;
    }
    .dev-css img {
        width: 67px;
        left: 2%;
    }
    .dev-css p {
        font-size: 25px;
        left: 0%;
        top: 10%;
    }


    .dev-react {
        text-align: center;

        top: 72%;
        left: 4%;
        height: 130px;
        width: 92%;
    }
    .dev-react img {
        width: 67px;
        left: 2%;
    }
    .dev-react p {
        font-size: 25px;
        left: 0%;
        top: 10%;
    }
}