.top-bar {
    z-index: 15;

    position: fixed;
    height: 40px;
    width: 99%;
    background-color: #070813;

    border-radius: 6px;

    align-content: center;

    box-shadow: 5px 5px 10px #000000;
}
.top-bar button {
    position: relative;

    color: #9d9cff;
    font-family: 'Segoe UI';
    font-weight: bold;

    background-color: #00000000;

    border: solid #00000000 2px;
    border-radius: 10px;

    left: 1%;

    transition: 0.2s ease-out;
}
.top-bar button:hover {
    cursor: pointer;

    border-color: #9d9cff;
}





.about {
    z-index: 9;

    position: relative;
    top: 15%;
    height: 75%;
    width: 79%;
    margin: 0 auto;

    background-color: #070813;

    border-radius: 15px;
    border: solid #00000000 4px;
    border-left-color: #9d9cff;

    transition: 0.5s ease-out;

    box-shadow: 5px 5px 10px #000000;
}
.about img {
    z-index: 10;
    position: relative;
    top: 32%;
    left: 12%;
    width: 190px;

    border: solid 2px;
    border-radius: 10%;
    border-color: #9d9cff;

    transition: 0.1s ease-out;
}
.about h1 {
    z-index: 10;
    text-align: center;

    color: #9e9cff1c;
    font-family: 'Segoe UI';
    font-size: 30px;

    position: inherit;
    top: -35%;

    transition: 0.3s ease-out;
}
.aboutT {
    z-index: 10;
    position: relative;

    overflow-wrap: break-word;

    background-color: #00000091;
    top: -30%;
    left: 15%;
    height: 60%;
    width: 50%;
    margin: 0 auto;

    border: solid #9d9cff 2px;
    border-radius: 10px;

    transition: 0.5s ease-out;
}
.aboutT p {
    color: #9d9cff;
    font-family: 'Segoe UI';
    font-size: 20px;

    position: relative;
    width: 95%;
    top: -5px;
    left: 3%;

    transition: 0.5s ease-out;
}
@media screen and (max-width: 900px) {
    .taskbar {
        width: 98%;
    }


    .about {
        top: 10%;
        height: 85%;
        width: 85%;

        background-color: #00000000;

        box-shadow: 5px 5px 10px #00000000;
    }
    .about img {
        left: 5%;
        top: 2%;
        width: 90px;
    }
    .about h1 {
        top: 73%;
    }
    .aboutT {
        font-size: 14px;

        margin: 0;
        top: -7%;
        left: 3%;
        width: 93%;
        height: 67%;

        border-width: 1.5px;
    }
}